/*child of main div
.child { 
  display: flex;
  
  align-items: flex-start;
  width: 2500px;


  padding: 10px;
}

.about {
  
}

.aboutImg {
 border: 3px solid black;
 gap: 10px;
 border: 3px solid black;  
 
}

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: auto;
  background-image: url("./photoes/background.jpg");
  background-size: cover;        
  background-position: center;
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  padding: 20px;

}
.main
{
 
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 10px;

}

.child
{
   
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;            
  margin-bottom: 2px;

}

.about
{  background-color: #e6e2e2;
  padding: 12px 15px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 300px;
  height: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  
}
.aboutImg
{
  border: 3px solid black;
  padding: 10px;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}
.aboutImg img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.aboutImg:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.about:hover {
  background-color: #d4cccc;
  transition: background-color 0.3s ease;
}
.button
{
  color: rgb(249, 246, 246);
  width: 200px;
  background-color: rgba(9, 73, 202, 0.932);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
 
  cursor: pointer;
  width: 100px;
}

.button:hover
{
  background-color: rgba(2, 45, 128, 0.932);
  transition: background-color 0.3s ease;
}

.cart {

  display: flex;
  justify-content: center;
  width: 25%;
  gap: 40px;
 

}
.site-header {
  background:linear-gradient(135deg, #19139a, #8d3bcb, #c65cd9);; 
  color: white;
  text-align: center;
  padding: 20px 20px;
  border-radius: 0 0 5px 5px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: "Poppins", Arial, sans-serif;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.site-header h1 {
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.site-header p {
  font-size: 12px;
  opacity: 0.9;
}

.header {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: flex-start;  
  flex-direction: column;
  padding-left: 20px; 
  gap: 10px;       
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #f1ecec;
  padding: 6px 12px;
  transition: 0.3s;
  border-radius: 6px;
}
.navbar{
  margin-left: 50px;
}

.navbar a:hover {
  background: #8e4ddd;
}

.site-header .button1 {
  margin-left: 100px;
  background-color: #5d3adf;
  color: white;
  border: 2px solid #6c63ff;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 20px;
} 
.site-header .button1:hover {
  background-color: #4b2ecb;
  border-color: #5a48d6;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

